@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
    font-family: 'JaapokkiRegular';
    src: url('jaapokki-regular.eot');
    src: url('jaapokki-regular.eot') format('embedded-opentype'),
         url('jaapokki-regular.woff') format('woff'),
         url('jaapokki-regular.ttf') format('truetype'),
         url('jaapokki-regular.svg#JaapokkiRegular') format('svg');
}


body {
    background-image: url('lomoBG.jpg');
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
}

.navbar-brand{
    margin-top: 10px;
}

.nav{
    color: #DDBCB3;
    font-family: 'JaapokkiRegular';
}

.nav:hover{
    color: #485B77;
}

.foot{
    color: #485B77;
    font-family: 'JaapokkiRegular';
}

.font1{
    color: white;
    font-family: 'JaapokkiRegular';
    /* font-family: 'Raleway', sans-serif; */
}

h1.font1{
    font-size: 30px;
}

a{
    text-decoration: none;
    color: white;
    /* font-weight: bold; */
}

.sign{
    color: #7A3933;
    font-size: 20px;
    font-family: 'JaapokkiRegular';
    padding: 5px;
    /* border-color: #7A3933 */
}

a.sign:hover{
    font-style: italic;
    color: #7A3933;
}

a.navbar-item:hover{
    color: #AF684A;
    text-decoration: none;
}

.tile1{
    margin-left: 200px;
}

.lomoOn{
    color: white;
    background-color: #485B77;
    border-radius: 5px;
    font-family: 'JaapokkiRegular';
    padding: 10px 30px;
}

a.lomoOn:hover{
    color: #485B77;
    background-color: white;
}

button.button1{
    color: white;
    background-color: #7A3933;
    border-radius: 5px;
    font-family: 'JaapokkiRegular';
    padding: 10px 20px;
    border-color: #7A3933;
    font-size: 15px;
    margin-top: 15px;
}

button.button1:hover{
    color: white;
    background-color: #d29d62;
    border-color: #d29d62;
}

a.image1>img:hover{
    border-color: #d29d62;
}

#oops{
    font-size: 12rem;
    margin-right: 0;
}

#errorText{
    font-size: 5rem; 
    margin: 50px 0 0 50px;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
}
@media only screen and (max-width: 768px){
    #errorText{
        margin: 0;
        font-size: 3rem;
    }
    .tile1{
        margin-left: 0;
    }
}

@media only screen and (max-width: 425px){
    #errorText{
        margin: 0;
        font-size: 2.1rem;
    }

    #oops{
        font-size: 8rem;
    }
}