<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400">
</head>
<body bgcolor="#F7F7F7">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="500" style="font-family: 'IBM Plex Sans Condensed', sans-serif; background-color: #ffffff; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);">
	<tr>
		<td align="center" style="padding: 32px 0 16px 0;">
			<h1>[Forum]</h1>
		</td>
	</tr>
	<tr>
		<td bgcolor="#F7F7F7" style="padding: 32px;">
			<p style="color: #111111;">
				Hi, {{ username }}!
			</p>

			<p style="color: #111111;">{{ content }}</p>

			<p style="margin-top: 32px;">Cheers,<br><a href="https://example.com/" target="_blank">[Forum]</a></p>
		</td>
	</tr>
</table>
</body>
</html>
