{% extends "base.html" %}
{% block title %} - HOME{% endblock %}

{% block content %}

<div class="container is-mobile is-centered" style="margin: 50px;">
    <div class="columns is-centered">
        <div class="column is-3">
              <div class="card">
                  <div class="card-image">
                      <figure class="image is-4by3" >
                          <img src="https://bulma.io/images/placeholders/256x256.png">
                      </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                    
                      <div class="media-content">
                          <a href="/profile"><p class="title is-4 is-capitalized">{{ fname }} {{ lname }}</p></a>
                          <p class="subtitle is-6">/{{ timestamp }}</p>
                      </div>
                    </div>
                    <br>
                      <div class="content">
                      {{ about_me }}<br><br>
                      
                      
                      IG: <a href="https://www.instagram.com/{{ instagram_accout }}" target="_blank" style="color: #7A3934;">@{{ instagram_accout }}</a>
                      <br>
                      </div>
                  </div>
              </div>
        </div>
        <div class="column is-8">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <div class="notification is-info">
                      {{ messages[0] }}
                  </div>
              {% endif %}
            {% endwith %}

                <div class="box">
                <article class="media">
                    
                    <div class="media-content">
                        <div class="field">
                        <form action="/home" method="POST" enctype="multipart/form-data">
                          <p class="control">
                            <textarea class="textarea" placeholder="Lomo of the day.." name="userPost" style="margin-bottom: 20px;"></textarea>
                          </p>
                          <div class="columns">
                            <div class="column is-4">
                                <label class="custom-file-upload" style="color: grey;">
                                    <div class="columns">
                                      <div class="column is-1">
                                        <i class="fa fa-cloud-upload" style="font-size: 20px; padding: 5px 100px 0 0;"></i>
                                      </div>
                                      <div class="column">
                                        <input type="file" id="file-upload" name="lomoPhoto" />
                                      </div>
                                    </div>
                                </label>
                            </div>

                            <div class="column">
                              <div class="control">
                                  <input type="text" class="input is-small" name="used_cam" placeholder="Camera used">
                              </div>
                            </div>

                            <div class="column">
                              <div class="control">
                                  <input type="text" class="input is-small" name="used_roll" placeholder="Film used">
                              </div>
                            </div>
                          </div>
                          <p class="control">
                              <button class="button1" style="margin-top: 0;">POST</button>
                          </p>
                        </form>
                        </div>
                    </div>
                </article>
              </div>
              {% if len_posts == 0 %}
                <div class="is-info">
                    <p class="subtitle" style="color: white;">No posts yet. Post one now!</p>
                </div>
              {% else %}
                

              {% for post in posts %}
              {% include '_post.html' %}
              {% endfor %}

                

            </div>
              </div>
              
              {% endif %}
              </div>
        </div>
    </div>
  </div>
{% endblock %}